<h1 class="text-center">Dados da Covid-19</h1>
<h6 class="text-center">(casos ativos)</h6>
<%= javascript_include_tag "graphic" %>

<canvas id="myChart"  class=" container"></canvas>

<h2 class="text-center pt-5">Dados da Covid-19 no Brazil</h2>
<canvas id="myChart2"  class=" container"></canvas>